@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;500&family=Roboto:ital,wght@0,300;1,300&display=swap');

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*{
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    color: black;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: white;

}

a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;

}

.logo{
    display: flex;
    align-items: center;
}

.logo > button > img{
    width:60px;
    height: 60px;
    background-size: cover;
    background-color: white;
}

.logo > button{
    border: none;
    cursor: pointer;
    background-color: white;
}

.titulo_logo{
    font-size: 20px;
    margin-left: 10px;
}


header ul{
    display: flex;
    list-style: none;
}

header li{
    margin: 0 15px;
}

header li a{
    color: black;
}

header li a:hover{
    color: #5e5b5b;
}

.row{
    background-image: url('../img/back4.jpg');
    width: 100%;
    height: 90vh;
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    margin: 0px 0;
}

.col-1{
    margin-left: 50px;
}

.col-1 h2{
    font-size: 54px;
    color: black;
    margin-bottom: 10px;
}

.col-1 h3{
    font-size: 30px;
    color: rgb(145, 255, 0);
    font-weight: 200;
    margin: 20 0 10px;
}

.botao-superior{
    width: 150px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: black;
    background: linear-gradient(to right, #60fb52, #59ff27);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

.botao-superior img{
    width: 30px;
    display: none;
}

.botao-superior:hover img{
    display: block;
}

.botao-superior:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#46ff62, #60ff63);
    left: -40px;
    top: 8px;
}

.textos_pag1{
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-indent: 30px ;
    text-align: center;
    background-color: white;
    padding: 30px;
    margin-bottom: 80px;
}


.textos_pag1 > h3{
    text-align: center;
    font-size: 25px;
    padding-bottom: 80px;

}

.textos_pag1 > p{
    padding-bottom: 20px;
    text-align: justify;
}

.img_1{
    height: auto;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

.textos_pag1 > ul{
    text-align: justify;
    padding-top: 10px;
}

.textos_pag1 > ul > li{
    padding: 5px;
}

.textos_pag1 > ul > li > p > a{
    color: rgba(0, 0, 255, 0.699);
}

.textos_pag1 > ul > li > a:hover{
    color: blue;
}


.proxima{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


.proxima > a > button{
    background-color: rgba(83, 83, 83, 0.26);
    width: 80px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;  
    margin-right: 20px;
}

.proxima > a > button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.096);
    display: block;
}

.footer-geral div{
    width: 100%;
    background-color: black;
    padding: 20px;
}

.paragrafo{
    width: 100%;
}

.paragrafo p{
    color: white;
    text-align: center;
    font-size: 18px;
}

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > button{
    width: 8%;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.footer > button:hover{
    background-color: gray;
    cursor: pointer;
}

.footer > h2{
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: 400;
}
